<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBEf3lvgVKJg2iYg1xOhYsxLj24hU2ZIc</string>
	<key>GCM_SENDER_ID</key>
	<string>218761819094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itinventory</string>
	<key>PROJECT_ID</key>
	<string>it-inventory-a8a1a</string>
	<key>STORAGE_BUCKET</key>
	<string>it-inventory-a8a1a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218761819094:ios:4abe19916a935779102a77</string>
</dict>
</plist>